#!/usr/bin/env bash

# Digital Ocean Token
export TF_VAR_do_pat="$(show-secure-note token-digital-ocean-cyanic-xyz)"

# Hetzner
export TF_VAR_hcloud_token="$(show-secure-note token-hetzner-cyanic-xyz)"


