#!/usr/bin/env bash

. bwu

# Hetzner cloud
export TF_VAR_hetzner_cloud_token="$(show-secure-note token-hetzner-cyanic-xyz)"

# Hetzner DNS
export TF_VAR_hetzner_dns_token="$(show-secure-note token-hetzner-dns-cyanic-xyz)"
